:root {
    --grid-item:
}

html {
    box-sizing: border-box;
    font-size: 17px;
}

@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Akaya';
    src: url('./fonts/AkayaKanadaka-Regular.ttf');
}

body {
    text-align: center;
    font-family: 'Akaya';
    background-color:lightskyblue;
}

.container {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
}

.controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1 1 auto;
}

.controls input, button {
    margin: 0 6px;
}

button {
    border: none;
    font-family: inherit;
    border-radius: 9999px;
    background-color: dodgerblue;
    color: white;
    width: 4rem;
}

button:hover {
    background-color: teal;
}

input[type='color'] {
    border: none;
}

.grid {
    flex: 4 1 auto;
    margin: 3rem 0;
    border: double 6px rgb(185, 145, 145);
    border-radius: 2px;
    width: 32.3rem;
    height: 32.3rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.item {
    background-color: rgb(255, 255, 255);
    outline: solid #32a1ce 0.01px;
}

.item_mod {
    background-color: blueviolet;
}