html {
    box-sizing: border-box;
    font-size: 17px;
}

@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Akaya';
    src: url('./fonts/AkayaKanadaka-Regular.ttf');
}

body {
    text-align: center;
    font-family: 'Akaya';
    background-color:lightskyblue;
}

.container {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
}

.controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.controls input, button {
    margin: 0 6px;
}

.squares {
    display: flex;
    flex-flow: row wrap;
    margin: 3rem 0;
    border: solid 2px black;
    border-radius: 2px;
    width: 32rem;
    height: 32rem;
    font-size: 1rem;
}

.item {
    border: solid white 1px;
    background-color: yellow;
    flex: 1 1 2em;
    max-width: 100%;
}

.item_mod {
    border: solid white 1px;
    background-color: blueviolet;
    flex: 1 1 2em;
    max-width: 100%;
}